* {
  margin: 0;
}

html {
	height: 100%;
}

body {
	background: #ffffff;
	height: 100%;
	min-width: 320px;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
}

section, footer {
  font-size: 24px;
}

header {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 64px;
  background-color: rgba(243, 243, 243, 1);
  font-size: 21px;
  margin-bottom: 1em;
}

header p {
	display: block;
	margin: 1em 0 0 0;
	padding: 0 0 0.5em 0;
}

.logo {
  position: absolute;
  width: 87px;
  float: left;
  margin-top: 0%;
  padding-left: 0%;
  margin-left: 20px;
}

nav {
  position: absolute;
	right: 0.5em;
	top: 0;
	height: 3em;
	line-height: 3em;
}

nav ul {
  text-align: right;
  right: 0;
}

nav ul li {
  display: inline-block;
	margin-left: 0.5em;
}

nav ul li a {
	display: block;
	text-decoration: none;
	height: 3em;
	line-height: 3em;
  padding: 0 0.5em 0 0.5em;
  color: grey;
  font-size: 20px;
}

footer {
  background-color: black;
  display: flex;
  flex-direction: column;
}

footer p {
  flex-grow: 1;
}

.social-media {
  background-color: black;
}

.social-media ul {
  right: 0;
}

.social-media ul li {
  display: inline-block;
}

.social-media ul li a {
	display: block;
	height: 4em;
	line-height: 4em;
  padding: 0 0.5em 0 0.5em;
  color: grey;
  font-size: 20px;
}

.social-media ul li img {
  position: relative;
	width: 30px;
  height: 30px;
  top: 15%;
  opacity: 0.5;
}

.icon:hover {
  opacity: 1;
}

section {
  position: relative;
}

.fullscreen {
	min-height: 100%;
}

#one {

}

#one video {
}


#two {
  background-image: url(../images/vr.jpg);
	background-size: cover;
}

#three {
  background-image: url(../images/vr-nyborg.jpg);
	background-size: cover;
}

#four {
  background-size: cover;
  background-color: white;
}

#contact-page {
  background-size: cover;
  background-color: white;
  min-height: 100%;
}

#vr-text {
  position: absolute;
  width: 700px;
  top: 40%;
  left: 5%;
  opacity: 1;
  padding: 10px;
}

#vr-text2 {
  position: absolute;
  width: 700px;
  top: 30%;
  right: 5%;
  background-color: white;
  opacity: 0.9;
  padding: 10px;
}

#contact {
  height: 81px;
  position: absolute;
  margin: auto;
  bottom: 10%;
  left: 5%;
  /*margin-left: 192px;*/
  opacity: 1;
}

#arrow {
  height: 81px;
  position: absolute;
  bottom: 0px;
  right: 50%;
  margin-right: -50.5px;
  margin-bottom: 50.5px;
}

.fullscreen-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  width: 100%;
  height: 100%;
}

.fullscreen-bg__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%,-50%);
}

h2{
  text-align: center;
  font-weight: bold;
  padding-top: 5%;
}

#four h2 {
  padding-top: 10%;
}

#contact-page p{
  text-align: center;
  width: 50%;
  margin-left: 25%;
}

#four p {
  text-align: center;
  width: 50%;
  margin-left: 25%;
}

p {
  padding-top: 2%;
}

input[type=text], textarea {
  width: 100%; /* Full width */
  padding: 10px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 5px; /* Add a top margin */
  margin-bottom: 5px; /* Bottom margin */
  resize: none; /* Allow the user to vertically resize the textarea (not horizontally) */
  font-size: 21px;
  font-family: 'Source Sans Pro', sans-serif;
}

input[type=submit] {
  background-color: #25abc1;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 21px;
  font-family: 'Source Sans Pro', sans-serif;
}

input[type=submit]:hover {
  background-color: #97ce48;
}

.container {
  border-radius: 5px;
  padding: 10px;
  font-size: 30px;
  margin: auto;
}

.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 5%;
}

.image_container {
	position: relative;
	display: inline-block;
  box-sizing: border-box;
}

.image {
  width: 250px;
}

.image_container .image {
	display: block;
}

.image_container .image_overlay {
  position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	opacity: 0;
	padding: 15px;
}

.image_container:hover .image_overlay,
.image_container.active .image_overlay {
	opacity: 1;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: rgba(0, 0, 0, 0.8);
  margin: 5% 20% 5% 20%;
  padding: 20px;
}

.modal-content img {
  margin: auto;
}

figure {
  box-sizing: border-box;
  display: inline;
  align-items: center;
  margin-left: 1%;
  margin-right: 1%;
}
