* {
  margin: 0;
}

html {
	height: 100%;
}

body {
	background: #ffffff;
	height: 100%;
	min-width: 320px;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
}

header {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 64px;
  background-color: rgba(243, 243, 243, 1);
  margin-bottom: 1em;
}

header p {
	display: block;
	margin: 1em 0 0 0;
	padding: 0 0 0.5em 0;
}

nav {
  position: absolute;
	right: 0.5em;
	top: 0;
	height: 3em;
	line-height: 3em;
}

nav ul {
  text-align: right;
  right: 0;
}

nav ul li {
  display: inline-block;
	margin-left: 0.5em;
}

nav ul li a {
	display: block;
	text-decoration: none;
	height: 3em;
	line-height: 3em;
  padding: 0 0.5em 0 0.5em;
  color: grey;
  font-size: 20px;
}

footer {
  background-color: black;
  display: flex;
  flex-direction: column;
}

footer p {
  flex-grow: 1;
}

.social-media {
  background-color: black;
}

.social-media ul {
  right: 0;
}

.social-media ul li {
  display: inline-block;
}

.social-media ul li a {
	display: block;
	height: 4em;
	line-height: 4em;
  padding: 0 0.5em 0 0.5em;
  color: grey;
  font-size: 20px;
}

.social-media ul li img {
  position: relative;
	width: 30px;
  height: 30px;
  top: 15%;
  opacity: 0.5;
}

.icon:hover {
  opacity: 1;
}

section {
  position: relative;
}

.fullscreen {
	min-height: 100%;
}

#one {

}

#one video {
}


#two {
  background-image: url(../images/vr.jpg);
	background-size: cover;
}

#three {
  background-image: url(../images/one.jpg);
	background-size: cover;
  background-color: blue;
}

#four {
  background-size: cover;
  background-color: white;
}

#contact-page {
  background-size: cover;
  background-color: white;
  min-height: 100%;
}

#vr-text {
  position: absolute;
  width: 700px;
  font-size: 32px;
  top: 50%;
  left: 3%;
  background-color: white;
  opacity: 0.9;
  padding: 10px;
}

#vr-text2 {
  position: absolute;
  width: 700px;
  font-size: 32px;
  top: 30%;
  right: 10%;
  background-color: white;
  opacity: 0.9;
  padding: 10px;
}

#contact {
  height: 81px;
  position: absolute;
  margin: auto;
  bottom: 6%;
  right: 10%;
}

#arrow {
  height: 81px;
  position: absolute;
  bottom: 0px;
  right: 50%;
  margin-right: -50.5px;
  margin-bottom: 50.5px;
}

.fullscreen-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    width: 100%;
    height: 100%;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%,-50%);
}
